<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link rel="stylesheet" href="/upload.css">
    <title>Coogle</title>
</head>

<body>
    <nav class="lime">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">
                <img src="CooglePng.png" alt="logo" style="height: 60px; width: auto">
                <span class="black-text">The World Best Searched Engine.</span><span style="font-size: 35%"> *For XKCD Comics</span>
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <h2 class="center-align">Errors Intensify</h2>
        </div>
        <div class="row">
            <img class="col l6 offset-l3" src="/error.gif" alt="">
        </div>
    </div>
</body>

</html>