<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link rel="stylesheet" href="FrontEndStyling.css">
    <link rel="stylesheet" href="/upload.css">
    <title>Coogle</title>
</head>

<body>
    <header>
        <h1 id="header">Coogle</h1>
        <h1 id="header">
            The worlds best search engine.
            *for comics
        </h1>
    </header>

    <div class="row">
        <h1 class="center-align">You Look Most Like This XKCD Comic</h1>
    </div>

    <div class="row">
        <h2 class="center-align">{{{title}}}</h2>
    </div>

    <div class="container">
        <div class="flex row">
            <img class="col l4" src="{{{ori}}}" alt="start image">
            <img class="col l2" src="arrow-right.png" alt="arrow">
            <div class="col l4 valign-wrapper">
                <img src="{{{img}}}" alt="xkcd comic">
            </div>
        </div>
    </div>


    <div class="row center-align">
        <a href="https://xkcd.com/{{{num}}}/">Original Comic</a>
    </div>
</body>

</html>