<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="FrontEndStyling.css">
    <title>Coogle</title>
</head>

<body>
    <!doctype html>
    <title>Example</title>
    <header>
        <h1>Coogle</h1>
        <h1>
            The worlds best search engine.
            *for comics
        </h1>
    </header>


    <img src="{{{ori}}}" alt="start image">
    <img src="{{{img}}}" alt="xkcd comic">
    <a href="https://xkcd.com/{{{num}}}/">Original Comic</a>
</body>

</html>